body{
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/background-top1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

/***************/
/*Partie HEADER*/
/***************/
header{
	background-color: black;
	color: #fff;
	height: 76px;	
	align-items: center;
	display: flex;
	width: 100%;
}
header img{
	height: 45px;
}

.logoHeader{
	display: flex;
	margin: auto;
	width: 80%;
}
.logoHeader p{
	padding-right: 1em;
	padding-left: 1em;
}
.logoHeader img{
	height: 60px;
}
.listeHeader{
	display:flex;
	list-style: none;
	align-items: center;
	margin-left: -40px;
}
select{
	background-color: #fff;
	border: 0px;
	padding: 10px;
}
.fa-cogs{
	color: #ed1450;
	padding-left: 1em;
	padding-right: 1em;
}
.fa-users{
	padding-left: 1em;
}
.boutonRetour a{
	display: flex;
	color: #fff;
	align-items: center;
	text-decoration: none;
}
.fa-chevron-left{
	padding-left: 1em;
	padding-right: 10px;
}


/****************/
/**Partie LISTE**/
/****************/
.presentFull{
	width: 90%;
	margin: auto;
	display: flex;
	justify-content: space-around;
	color: #fff;
}
.general{
	background-color: rgba(0,0,0,0.8);
	padding-top: 2em;
}
.card{
	display: flex;
	width: 90%;
	justify-content: space-between;
	align-items: center;
	border: 2px solid #fff;
	margin: auto;
	margin-bottom: 1em;
}
.card img{
	width: 10%;
	height: 60px;
}
.card p{
	width: 40%;
}
.present{
	width: 49%;	
	background-color: #2b2b2b;
	border-radius: 10px;
}
.title1{
	text-align: center;
	padding: 1em;
	color: #ed1450;
	font-size: 2em;
}
.colorClass{
	border-left: 1px solid #ed1450;
	width: 10%;
	height: 50px;
}

/***************/
/*Partie CHECK*/
/***************/
.check{
	display: flex;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
}
.check div{
	margin:auto;
	margin-bottom: 1em;
	text-align: center;
	font-weight: bold;
	font-size: 1em;
}
.go{
	color: #D2003B;
	text-transform: uppercase;
}

/***************/
/*Partie FOOTER*/
/***************/
footer{
	text-align: center;
	background: #2b2b2b;
	padding: 10px 0px 30px 0px;
}
footer ul{
	list-style-type: none;
	margin-left: -20px;
}
.titleFooter{
	color: #ffffff;
}
.textFooter{	
	font-size: 15px;
	line-height: 29.92px;
	letter-spacing: normal; 
	color: #666666;
}
footer ul .lienfooter {
	font-size: 17.6px;
	text-align: center;
	letter-spacing: normal;
    word-spacing: 3px;
    padding: 20px;
}
footer ul .imagefooter {
    vertical-align: middle;
}
footer ul .imagefooter .logoFooter{
	margin: 15px 10px;
    height: 55px;
}
footer ul .imagefooter .titlefooter{
	display: inline-block;
    vertical-align: middle;
    margin: 0px 10px;
    margin-top: -83px;
    color: #fff;
    font-size: 20px;
}
.lienfooter a{
	color: #d2003b;
	text-decoration: none;
	font-weight: bold;
};
